body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}
.dropdown-item.active, .dropdown-item:active {
    color: black !important;
    text-decoration: none ;
    background-color: #fff !important;
}